body {
    background-color: #BAE5F9;
}

.visited {
    border: 2px solid green;
}

.unvisited {
    border: 2px dashed red;
}

.center {
    margin: 20px;
    text-align: center;
}

li {
    list-style-type: none;
}